<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>228558641396-orngun9q7483ddnrqr0ja0k49790m7ss.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.228558641396-orngun9q7483ddnrqr0ja0k49790m7ss</string>
	<key>API_KEY</key>
	<string>AIzaSyAoigQU4LRiVemNnfnJLorUTi3CQVA3YT8</string>
	<key>GCM_SENDER_ID</key>
	<string>228558641396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gasLeakSafety</string>
	<key>PROJECT_ID</key>
	<string>gas-leak-safety</string>
	<key>STORAGE_BUCKET</key>
	<string>gas-leak-safety.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:228558641396:ios:494264f64446ae14d526a1</string>
</dict>
</plist>